.tagline {
  display: flex;
  justify-content: center;
  font-size: 40pt;
  text-transform: capitalize;
  margin: 150px 0px;
}

button {
  text-decoration: none;
}

.separator {
  display: flex;
  width: 150px;
  height: 2px;
  background: var(--jet);
  margin: 20px auto;
}

.resource-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.separator-2 {
  width: 40px;
  height: 2px;
  background-color: var(--jet);
  margin: 8px 0px;
}

.resource-block {
  display: flex;
  height: 200px;
  width: 500px;
  background-color: var(--eerie-black-2);
  margin: 50px;
  border-radius: 20px;
  border: 1px solid var(--jet);
  box-shadow: var(--shadow-1);
  padding-right: 15px;
}
.glyph-container {
  margin: auto 10px;
  padding: 0px 15px;
}

.glyphs {
  width: 70px;
}

.content-container {
  margin: auto 10px;
}

.resource-buttons {
  margin: 15px 0px 0px 0px;
}

.download-btn {
  background-color: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 5px;
  box-shadow: var(--shadow-1);
  margin-right: 15px;
  padding: 8px 12px;
}

.other-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.resource-buttons a {
  text-decoration: none;
}

.about-me {
  margin: 40px auto;
}

.about-me .about-me-text {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.about-me h3 {
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.separator-3 {
  width: 150px;
  height: 2px;
  background: var(--jet);
  margin: 20px auto;
}

.about-me p {
  width: 600px;
}

.headshot {
  margin: 15px 0px;
  color: hsl(228, 100%, 70%);
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  width: 80px;
}

.contact-btn span {
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Map */
/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
}

.gmnoprint:last-child {
  display: none !important;
}

.gmnoprint:nth-last-child(3),
.gmnoprint:nth-last-child(2),
.gmnoprint:nth-last-child(1) {
  display: none !important;
}

.service-area-container {
  margin: 40px auto;
}

.service-area-container h3 {
  display: flex;
  justify-content: center;
}

.service-area-container h3 {
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.service-area-container h4 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.asterisk {
  display: flex;
  justify-content: center;
}

.asterisk p {
  font-size: 13px;
  font-family: sofia-pro, sans-serif;
  font-weight: 100;
  font-style: italic;
}

.separator-4 {
  width: 150px;
  height: 2px;
  background: var(--jet);
  margin: 0px auto 25px auto;
}
