:root {
  --bg-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
      135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right,
    hsl(45, 100%, 72%),
    hsl(35, 100%, 68%)
  );
  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: #121212;
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);
  --ff-poppins: "Poppins", sans-serif;
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  color: rgb(221, 221, 221);
  font-family: "Europa", sans-serif;
}
body {
  background: var(--smoky-black);
}

p {
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* nav start */
.main-nav-container {
  display: flex;
  width: 100%;
  margin: 30px 0px 20px 0px;
  justify-content: center;
}

.nav-left {
  margin-right: 4%;
}

.nav-right {
  margin-left: 4%;
}

li {
  font-family: "europa", sans-serif;
  font-weight: 300;
  font-style: normal;
  list-style-type: none;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.list-1 {
  display: flex;
  list-style: none;
}

.list-1 li {
  margin-right: 45px;
}

.list-1 a {
  text-decoration: none;
}

.list-2 {
  display: flex;
  list-style: none;
}

.list-2 li {
  margin-left: 45px;
}

.list-2 a {
  text-decoration: none;
}

/* logo */
.logo-div {
  justify-self: center;
  padding: 5px;
}

.nav-center div {
  display: flex;
}

.box-top {
  display: flex;
  justify-content: center;
}

.box-bottom {
  display: flex;
  justify-content: center;
}

.logo-top {
  font-size: 12pt;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: auto;
}

.logo-bottom {
  font-size: 12pt;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: auto;
  color: hsl(228, 100%, 70%);
}
nav a {
  transition: 0.3s;
}
nav a:hover {
  color: rgb(135, 135, 135);
}
/* nav end  */

/* footer */
footer {
  background-color: var(--neu-10);
}

.footer-main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  flex-basis: 30%;
}
/* .box {
background-color: #222222;
justify-content: center;
padding: 20px;
border-radius: 20px;
margin: 20px;
width: 300px;
transition: 0.3s;
} */

.titles {
  margin-bottom: 30px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.section-1 {
  margin-left: 30px;
}

.top-container {
  display: flex;
  align-items: center;
}

.chef-hat {
  width: 300px;
}
.footer-logo {
  margin-right: 10px;
}

.f-title-1 {
  font-size: 26px;
  font-family: "nobel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-desc {
  margin-top: 20px;
  display: flexbox;
  color: rgb(125, 142, 179);
}

.lists {
  list-style: none;
}

.lists li {
  margin: 10px 0px;
}
.lists li a {
  text-decoration: none;
  color: rgb(125, 142, 179);
  transition: 0.3s;
}

.lists li a:hover {
  color: hsl(228, 100%, 70%);
}
.list-link {
  margin: 15px 0px;
  color: rgb(110, 125, 156);
}

.fa-brands {
  color: rgb(117, 131, 162);
  font-size: 22px;
  transition: 0.3s;
}

.fa-brands:hover {
  color: hsl(228, 100%, 70%);
}

@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
  }

  .box {
    margin-bottom: 45px;
  }

  .top-container {
    justify-content: center;
  }

  .socials {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer-desc {
    justify-content: center;
  }

  .resource-item {
    color: bl;
  }
  .lists {
    text-align: center;
  }

  .titles {
    margin-bottom: 0px;
  }
}

.nav-center-mobile {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px;
}
.mobile-menu-list li a {
  text-decoration: none;
}
.mobile-menu-list li {
  padding: 5px 0px;
}
.mobile-menu-list {
  margin-left: 20px;
}
.mobile-menu-icon {
  font-size: 24px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 1;
}
.mobile-menu-list {
  display: none;
  /* visibility: hidden; */
  /* position: absolute; */
}
.nav-mobile-menu {
  display: none;
}
@media (max-width: 1300px) {
  .main-nav-container {
    font-size: 12px;
  }
  .nav-left {
    margin-right: 10px;
  }
  .nav-right {
    margin-left: 10px;
  }

  .list-1 li {
    margin-right: 25px;
  }
  .list-2 li {
    margin-left: 25px;
  }
}

@media (max-width: 966px) {
  .main-nav-container {
    display: none;
  }
  .nav-mobile-menu {
    display: block;
    padding-top: 20px;
  }
  .about-me p {
    padding: 20px;
  }
  .mobile-menu-list-active {
    /* visibility: visible; */
    display: block;
    animation: easingIn 0.75s;
  }
  .site-content-active {
    animation: easingIn2 0.75s;
  }
  .site-content-inactive {
    animation: transitionUp2 0.75s;
    transform: translateY(-200px);
  }
  .mobile-menu-list-inactive {
    display: block;
    animation: transitionUp 0.75s;
    opacity: 0;
    transform: translateY(-200px);
  }
}

@keyframes easingIn {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes easingIn2 {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes transitionUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}
@keyframes transitionUp2 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-200px);
  }
}
.separator-nav {
  display: flex;
  width: 150px;
  height: 2px;
  background: var(--jet);
  margin: 20px auto;
}

.mobile-menu-list .separator-nav {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.gmnoprint .gm-style-mtc {
  background-color: #121212; /* Set the desired background color for the map controls */
  color: #ffffff; /* Set the desired text color for the map controls */
}

.socials a {
  display: inline-block;
  margin: 20px;
}

.cta-container {
  display: flex;
  justify-content: center;
}

.cta {
  background-color: var(--eerie-black-2);
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--jet);
  box-shadow: var(--shadow-1);
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: auto 20px;
  transition: 0.3s ease;
}

.cta:hover {
  color: grey;
}
