* {
  color: white;
  font-family: "sofia-pro", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "europa", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #121212;
}

.card {
  box-shadow: 5px;
  background-color: #161825;
  border-radius: 25px;
  width: 330px;
  height: 500px;
  margin: 80px auto;
  padding: 20px;
  position: relative;
  border: 1px solid var(--jet);
  box-shadow: var(--shadow-1);
}

.top-box {
  font-size: 11pt;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title {
  float: left;
}

.realtor {
  color: #5264ae;
  letter-spacing: 2px;
}

.image-box {
  margin-left: auto;
}

.image-box > img {
  height: 70px;
}

.headshot {
  border-radius: 50px;
  border: 2.5px solid #5264ae;
}

.info {
  margin-top: 10px;
  font-weight: 100;
}

.letter {
  font-size: 9pt;
}

.vertical-line::before {
  content: "";
  display: inline-block;
  border-left: 2px solid #5264ae;
  height: 12px;
  margin-right: 5px;
  margin-left: 5px;
}

.premiere-box {
  text-align: center;
  position: absolute;
  margin-bottom: 10px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
.premiere {
  margin: auto;
  width: 250px;
}

.info-box {
  margin-top: 170px;
}

.socials-2 {
  display: flex;
  justify-content: center;
}

a {
  transition: 0.3s;
}

.socials-2 a {
  font-size: 17pt;
  margin: 30px;
  background-color: #10121b;
  padding: 8px 14px;
  border-radius: 10px;
  transition: 0.3s;
}
.fa-brands {
  transition: 0.3s;
}
.fa-brands:hover {
  color: white;
}
.socials-2 a:hover {
  color: #ffffff;
}

.qr-box {
  text-align: center;
}
.qr {
  width: 280px;
}

.socials-2 {
  flex-wrap: wrap;
}

@media (max-width: 748px) {
  .card {
    margin: 30px auto;
  }
  .socials-2 a {
    margin: 10px;
  }
}
